NET "chaser_clk_in" LOC = F13;
NET "chaser_led0" LOC = P18;
NET "chaser_led1" LOC = P25;
NET "chaser_led2" LOC = N19;
NET "chaser_led3" LOC = K22;
NET "chaser_led4" LOC = H20;
NET "chaser_led5" LOC = G21;
NET "chaser_led6" LOC = D24;
NET "chaser_led7" LOC = D25;
NET "chaser_mode" LOC = J17;
NET "chaser_toggle" LOC = J15;
NET "chaser_rst" LOC = Y16;
NET "chaser_speed_down" LOC = J13;
NET "chaser_speed_up" LOC = J10;
NET "chaser_dip0" LOC = A7;
NET "chaser_dip1" LOC = G16;
NET "chaser_dip2" LOC = E9;
NET "chaser_dip3" LOC = D15;
NET "chaser_dip4" LOC = D19;
NET "chaser_dip5" LOC = B24;
NET "chaser_dip6" LOC = A5;
NET "chaser_dip7" LOC = A23;
