# simple constraints
CONFIG PART = XC3SD1800A-FG676-4 ;

NET I_CLK_REF       TNM_NET = clk_ref_grp;
TIMESPEC TS01 = PERIOD : clk_ref_grp : 20.00 : PRIORITY 1;   # 50.00 MHz

TIMESPEC TS11=FROM:PADS:TO:FFS : 30 ns;
TIMESPEC TS12=FROM:FFS:TO:PADS : 30 ns;


NET O_VIDEO_R        LOC = "H14"; 
NET O_VIDEO_G        LOC = "H15";
NET O_VIDEO_B        LOC = "G15";
NET O_HSYNC          LOC = "K26";
NET O_VSYNC          LOC = "K25";

NET I_RESET          LOC = "Y16"
NET I_CLK_REF        LOC = "C9"

NET I_START         LOC = "J13";
NET I_FIRE          LOC = "J15";
NET I_LEFT          LOC = "J17";
NET I_RIGHT         LOC = "J10";
