# simple constraints
CONFIG PART = XC3S500E-FG320-4 ;

NET I_CLK_REF       TNM_NET = clk_ref_grp;
TIMESPEC TS01 = PERIOD : clk_ref_grp : 20.00 : PRIORITY 1;   # 50.00 MHz

TIMESPEC TS11=FROM:PADS:TO:FFS : 30 ns;
TIMESPEC TS12=FROM:FFS:TO:PADS : 30 ns;

NET I_PS2_CLK        LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET I_PS2_DATA       LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

NET O_VIDEO_R        LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_G        LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VIDEO_B        LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_HSYNC          LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
NET O_VSYNC          LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

NET I_RESET          LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN ; # rot push button
NET I_CLK_REF        LOC = "C9" | IOSTANDARD = LVCMOS33;

#
# Strata Flash (need to disable to use LCD display)
#
NET STRATAFLASH_OE   LOC = "C18" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET STRATAFLASH_CE   LOC = "D16" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET STRATAFLASH_WE   LOC = "D17" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
#
NET O_AUDIO_L        LOC = "F8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;
NET O_AUDIO_R        LOC = "E8"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8;

