NET "hardcore" LOC = A7;
NET "reflection" LOC = G16;
NET "clk_in" LOC = P26;
NET "colour_blue<0>" LOC = L22;
NET "colour_blue<1>" LOC = K21;
NET "colour_blue<2>" LOC = G23;
NET "colour_blue<3>" LOC = G24;
NET "colour_green<0>" LOC = M19;
NET "colour_green<1>" LOC = M18;
NET "colour_green<2>" LOC = J23;
NET "colour_green<3>" LOC = J22;
NET "colour_red<0>" LOC = L20;
NET "colour_red<1>" LOC = K20;
NET "colour_red<2>" LOC = F25;
NET "colour_red<3>" LOC = F24;
NET "hsync" LOC = K26;
NET "vsync" LOC = K25;
NET "paddle_down" LOC = J10;
NET "paddle_up" LOC = J17;
NET "rst" LOC = Y16;
NET "clk_in" TNM_NET = clk_in;
TIMESPEC TS_clk_in = PERIOD "clk_in" 25.175 MHz HIGH 50%;
