
#Created by Constraints Editor (xc3s500e-vq100-4) - 2011/05/22
NET "I_CLK_REF" TNM_NET = I_CLK_REF;
TIMESPEC TS_I_CLK_REF = PERIOD "I_CLK_REF" 20 ns HIGH 50% INPUT_JITTER 20 ps;
NET "I_PS2_CLK" OFFSET = IN 5 ns VALID 20 ns BEFORE "I_CLK_REF" RISING;
NET "I_PS2_DATA" OFFSET = IN 5 ns VALID 20 ns BEFORE "I_CLK_REF" RISING;
INST "O_AUDIO_L" TNM = Outputs;
INST "O_AUDIO_R" TNM = Outputs;
INST "O_HSYNC" TNM = Outputs;
INST "O_VIDEO_B" TNM = Outputs;
INST "O_VIDEO_G" TNM = Outputs;
INST "O_VIDEO_R" TNM = Outputs;
INST "O_VSYNC" TNM = Outputs;
INST "STRATAFLASH_CE" TNM = Outputs;
INST "STRATAFLASH_OE" TNM = Outputs;
INST "STRATAFLASH_WE" TNM = Outputs;
TIMEGRP "Outputs" OFFSET = OUT 20 ns AFTER "I_CLK_REF";
#Created by Constraints Editor (xc3s500e-vq100-4) - 2011/05/22
#Created by Constraints Editor (xc3s500e-vq100-4) - 2011/05/22
NET "I_RESET" OFFSET = IN 10 ns VALID 20 ns BEFORE "I_CLK_REF" RISING;
